/* You can add global styles to this file, and also import other style files */

// Global styling Files for PrimeNg
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeicons/primeicons.css";
@import '../node_modules/primeflex/primeflex.css';

// Colors
@import "./assets/styles/colors";


// Global Styling for project
.container {
  margin: 0 auto;
}
/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
